<div class="qa-header">
${o.outcome}
</div>
<div class="qa-content">
%if o.rich_data["errors"]:
Errors:
<ul class="bugs-errors">
%  for error in o.rich_data["errors"]:
  <li>${error}</li>
%  endfor
</ul>
%endif
<ul class="bugs-closed">
%for package in o.rich_data["bugs"]:
<li>
<a href="https://bugs.debian.org/${package}">${package}</a>:
<ul>
%for bugnum, title, severity in o.rich_data["bugs"][package]:
<li>
<a href="https://bugs.debian.org/${bugnum}">#${bugnum}</a> (${severity}): ${title}
</li>
%endfor
</ul>
</li>
%endfor
</ul>
</div>
